.text-spacing{
    height: 3.8rem;
    word-wrap: break-word;
    overflow: hidden;
}
.fs-10px{
    font-size: 13px;
}
.image-card{
    max-width: 100%;
    height: auto;

}
.card-body{
    padding: 0;
}